<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Application</title>
    <!-- Include your CSS and scripts here -->
</head>
<body>
    <div class="auth-container">
        @RenderBody()
    </div>
</body>
</html>
